html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.search {
    background-color: #e3e4e8;
    padding: 14px 16px;
}

.pagination {
    display: block;
    color: red;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
    background-color: #41d347; /* Green */
    color: white;
}

.footer a{
  text-align: center;
  text-decoration: none;
  display: block;
  color: black;
}

.panel {

}
